body {
    /* No highlighting */
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.carousel {
    width: 480px;
    height: 320px;
     
    position: relative;

    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    margin: 10px;

    display: inline-block;
}

.image-container {
    width: 480px;
    height: 320px;

    position: relative;    
    overflow: hidden;

    border-radius: 10px;
}

.center-image {
    /* Center image ever if it's larger than the container */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.button {
    width: 64px;
    height: 64px;
    
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;

    font-size: 56px;
    color: #DDDDDD;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 0 10px #000000;

    cursor: pointer;

    transition-duration: 0.1s;
    transition-property: text-shadow;

    z-index: 9000;
}

.button:hover {
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
}

.button.left {
    right: auto; 
    left: 10px;
}

.button.right {
    right: 10px; 
    left: auto;
}

.grow {
    --duration: 0.2s;
    transition-duration: --duration;
    -moz-transition-duration: --duration;
    -webkit-transition-duration: --duration;

    transition-property: transform;
    -moz-transition-property: transform;
    -webkit-transition-property: transform;

    transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.grow:hover, .grow:focus, .grow:active {
    --grow-scale: 1.1;
    transform: scale(--grow-scale);
    -moz-transform: scale(--grow-scale);
    -webkit-transform: scale(--grow-scale);
}
