body {
    /* No highlighting */
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.carousel {
    display: inline-block;
    margin: 10px;
}

.frame {
    width: 480px;
    height: 320px;
     
    position: relative;

    border-radius: 10px;
    box-shadow: 0 0 3px #000000;

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.image-container {
    width: 480px;
    height: 320px;

    position: absolute;

    overflow: hidden;
}

.slide {
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;

    transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;

    transition-property: transform;
    -moz-transition-property: transform;
    -webkit-transition-property: transform;
}

.slide.active {
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

.slide.previous {
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.slide.next {
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.center-image {
    /* Center image ever if it's larger than the container */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.button {
    width: 64px;
    height: 64px;
    
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;

    font-size: 56px;
    color: #DDDDDD;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 0 10px #000000;

    cursor: pointer;

    transition-duration: 0.1s;
    transition-property: text-shadow;

    z-index: 9000;
}

.button:hover {
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
}

.button.left {
    right: auto; 
    left: 10px;
}

.button.right {
    right: 10px; 
    left: auto;
}

.grow {
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;

    transition-property: transform;
    -moz-transition-property: transform;
    -webkit-transition-property: transform;

    transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.grow:hover, .grow:focus, .grow:active {
    --grow-scale: 1.1;
    transform: scale(--grow-scale);
    -moz-transform: scale(--grow-scale);
    -webkit-transform: scale(--grow-scale);
}

.new-image {
    display: block; 

    margin-top: 10px;
}

.image-input {
    display: inline-block;

    width: 80%;
    margin-right: 10px;

    border-radius: 5px;
    border: 1px #AAAAAA solid;

    font-size: 12pt;
    padding: 8px;
}

.btn-primary {
    /* Bootstrap */
    display: inline-block;

    width: 13%;

    padding: 8px;

    background-color: #0074CC;
    background-image: -webkit-linear-gradient(top, #0088CC, #0055CC);
    background-repeat: repeat-x;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

    border: 0px solid #CCCCCC;
    border-radius: 5px;

    cursor: pointer;
    -webkit-appearance: button;

    color: #FFFFFF;
    font-size: 12pt;
}

.btn-primary:hover {
    background-color: #1A9CFF;
    background-image: -webkit-linear-gradient(top, #00AAFF, #006AFF);
}
